// Typography

@font-face {
  font-family: "Montserrat";
  src: url(/public/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

$app__font: "Montserrat", sans-serif;
$app__font__dark: #3a3a3a;
$app__font__default: #ffffff;

// Colors
$app__background__main: #080808;
$app__background__glow: #333333;
$app__accent: #46d72c;

// #fc6012

// Breakpoints
$mobile: 500px;
$tablet: 768px;
$tablet-large: 960px;
$laptop: 1024px;
$laptopL: 1442px;
$desktop: 1080px;
