@import "/app/styles/variables";

.decoration__container {
  display: block;
  position: absolute;
  z-index: -1;
  translate: 50px 480px;

  @media only screen and (min-width: $tablet) {
    display: block;
    height: 40px;
    width: 200px;
    margin-left: 500px;
    margin-top: 500px;
  }

  @media only screen and (min-width: $laptop) {
    display: block;
    height: 40px;
    width: 200px;
    margin-left: 600px;
    margin-top: 500px;
  }
}

.decoration__skills {
  position: absolute;
  display: block;
  font-weight: 800;
  font-size: 30px;
  color: $app__accent;
  text-transform: uppercase;
  animation: circle 18s linear infinite;
  opacity: 0%;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-200px) rotate(0deg);
    opacity: 100%;
  }
  50% {
    font-size: 10px;
    opacity: 10%;
  }
  100% {
    transform: rotate(360deg) translate(-200px) rotate(-360deg);
    opacity: 100%;
  }
}
