@import "/app/styles/variables";

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.contents__navigation__container {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0px 200px 0px;
  justify-content: space-evenly;
  border-right: $app__background__glow 1px solid;
}

.navigation__item {
  width: 80%;
  background-color: $app__background__main;
  margin-bottom: 5px;
  padding-left: 10px;
}

.contents__container {
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
