@import "/app/styles/variables";

.custom__cursor__container {
  position: absolute;
  overflow: visible;
  transition: 0s;
  width: 200px;
  height: 200px;
  position: fixed;
  z-index: 3;
}

.custom__cursor,
.custom__cursor__container {
  pointer-events: none;
}

.custom__cursor {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 40px;
  border: 2px solid gray;
  transition: 0.05s;
}
