@import "/app/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}

.title__container {
  margin-left: 50px;

  @media only screen and (min-width: $mobile) {
    margin-left: 150px;
  }

  & > h2 {
    color: $app__accent;
  }
  & > :nth-child(2) {
    opacity: 60%;
    margin-bottom: 20px;
  }
}

.description__container {
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;

  @media only screen and (min-width: $mobile) {
    padding: 0px 130px 0px 130px;
  }

  & > p {
    margin-top: 40px;
    width: 400px;
    padding: 20px;
    & > span {
      font-size: 35px;
      font-weight: 800;
      margin: 10px;
      color: $app__accent;
    }
  }
}
